:root {
  --font-body--family: "ApercuPro", sans-serif;
  --font-heading--family: "argent-cf", sans-serif;

  --font-paragraph--family: "ApercuPro", sans-serif;
  --font-button--family: "ApercuPro", sans-serif;
  --font-input--family: "ApercuPro", sans-serif;

  --font-h1--family: "argent-cf", sans-serif;
  --font-h2--family: "argent-cf", sans-serif;
  --font-h3--family: "argent-cf", sans-serif;
  --font-h4--family: "argent-cf", sans-serif;

  --primary-color: #F5DADF;
  --secondary-color: #F6F2F0;
  --dark-grey: #6C6967;
  --grind-green: #00B67A;
  --grind-red: #E2265E;
}
